main {
        flex-direction: column;
        gap: 0px;
    }
    .left, .right {
        width: 100%;
    }
    h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
	}
	header {
    flex-direction: column;
	}

	body {
	background: #FFFFFF;
    padding: 20px;
	}

	.location {
    text-align: left;
    font-size: 15px;
	}

	.container {
    background: white;
    width: 100%;
    padding: 0px 0px;
	}
}
