@media print {
    /* Body */
    body {
        background: #fff !important; /* white for printing */
        color: #000 !important;
        padding: 0px !important;
        font-size: 11pt;
    }

    .container {
        background: #fff !important;
        width: 100%;
        padding: 0px 0px;
        box-shadow: none !important;
    }

    /* Keep links black for print */
    a {
        color: #000 !important;
        text-decoration: none !important;
    }
}
